USE [master]
GO
/****** Object:  Database [EmergencyHomeServiceDB]    Script Date: 9/26/2026 6:14:51 AM ******/
CREATE DATABASE [EmergencyHomeServiceDB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'EmergencyHomeServiceDB', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\EmergencyHomeServiceDB.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'EmergencyHomeServiceDB_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\EmergencyHomeServiceDB_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [EmergencyHomeServiceDB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [EmergencyHomeServiceDB]
GO
/****** Object:  Table [dbo].[CustomerProfiles]    Script Date: 9/26/2026 6:14:52 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CustomerProfiles](
	[CustomerId] [int] NOT NULL,
	[Address] [nvarchar](255) NULL,
	[DateOfBirth] [date] NULL,
	[Gender] [varchar](20) NULL,
 CONSTRAINT [PK_CustomerProfiles] PRIMARY KEY CLUSTERED 
(
	[CustomerId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Notifications]    Script Date: 9/26/2026 6:14:52 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Notifications](
	[NotificationId] [bigint] IDENTITY(1,1) NOT NULL,
	[UserId] [int] NOT NULL,
	[RequestId] [bigint] NULL,
	[Title] [nvarchar](200) NOT NULL,
	[Message] [nvarchar](1000) NOT NULL,
	[Type] [varchar](50) NOT NULL,
	[IsRead] [bit] NOT NULL,
	[CreatedAt] [datetime2](0) NOT NULL,
 CONSTRAINT [PK_Notifications] PRIMARY KEY CLUSTERED 
(
	[NotificationId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Ratings]    Script Date: 9/26/2026 6:14:52 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Ratings](
	[RatingId] [bigint] IDENTITY(1,1) NOT NULL,
	[RequestId] [bigint] NOT NULL,
	[CustomerId] [int] NOT NULL,
	[WorkerId] [int] NOT NULL,
	[Score] [int] NOT NULL,
	[Comment] [nvarchar](1000) NULL,
	[CreatedAt] [datetime2](0) NOT NULL,
 CONSTRAINT [PK_Ratings] PRIMARY KEY CLUSTERED 
(
	[RatingId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[RefreshTokens]    Script Date: 9/26/2026 6:14:52 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RefreshTokens](
	[RefreshTokenId] [bigint] IDENTITY(1,1) NOT NULL,
	[UserId] [int] NOT NULL,
	[Token] [varchar](500) NOT NULL,
	[ExpiresAt] [datetime2](0) NOT NULL,
	[RevokedAt] [datetime2](0) NULL,
	[CreatedAt] [datetime2](0) NOT NULL,
 CONSTRAINT [PK_RefreshTokens] PRIMARY KEY CLUSTERED 
(
	[RefreshTokenId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[RequestImages]    Script Date: 9/26/2026 6:14:52 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RequestImages](
	[ImageId] [bigint] IDENTITY(1,1) NOT NULL,
	[RequestId] [bigint] NOT NULL,
	[ImageUrl] [varchar](500) NOT NULL,
	[CreatedAt] [datetime2](0) NOT NULL,
 CONSTRAINT [PK_RequestImages] PRIMARY KEY CLUSTERED 
(
	[ImageId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[RequestStatusHistories]    Script Date: 9/26/2026 6:14:52 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RequestStatusHistories](
	[HistoryId] [bigint] IDENTITY(1,1) NOT NULL,
	[RequestId] [bigint] NOT NULL,
	[Status] [varchar](30) NOT NULL,
	[Note] [nvarchar](500) NULL,
	[ChangedBy] [int] NOT NULL,
	[CreatedAt] [datetime2](0) NOT NULL,
 CONSTRAINT [PK_RequestStatusHistories] PRIMARY KEY CLUSTERED 
(
	[HistoryId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ServiceRequests]    Script Date: 9/26/2026 6:14:52 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ServiceRequests](
	[RequestId] [bigint] IDENTITY(1,1) NOT NULL,
	[CustomerId] [int] NOT NULL,
	[WorkerId] [int] NULL,
	[ServiceId] [int] NOT NULL,
	[Description] [nvarchar](2000) NOT NULL,
	[Status] [varchar](30) NOT NULL,
	[Latitude] [decimal](10, 7) NOT NULL,
	[Longitude] [decimal](10, 7) NOT NULL,
	[Address] [nvarchar](500) NULL,
	[ScheduledAt] [datetime2](0) NULL,
	[CreatedAt] [datetime2](0) NOT NULL,
	[AcceptedAt] [datetime2](0) NULL,
	[CompletedAt] [datetime2](0) NULL,
	[CancelledAt] [datetime2](0) NULL,
	[CancellationReason] [nvarchar](500) NULL,
 CONSTRAINT [PK_ServiceRequests] PRIMARY KEY CLUSTERED 
(
	[RequestId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Services]    Script Date: 9/26/2026 6:14:52 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Services](
	[ServiceId] [int] IDENTITY(1,1) NOT NULL,
	[ServiceName] [nvarchar](100) NOT NULL,
	[Description] [nvarchar](500) NULL,
	[IconUrl] [varchar](500) NULL,
	[IsActive] [bit] NOT NULL,
	[CreatedAt] [datetime2](0) NOT NULL,
 CONSTRAINT [PK_Services] PRIMARY KEY CLUSTERED 
(
	[ServiceId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 9/26/2026 6:14:52 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[UserId] [int] IDENTITY(1,1) NOT NULL,
	[FullName] [nvarchar](100) NOT NULL,
	[Email] [varchar](150) NULL,
	[Phone] [varchar](20) NOT NULL,
	[PasswordHash] [varchar](500) NOT NULL,
	[Role] [varchar](20) NOT NULL,
	[AvatarUrl] [varchar](500) NULL,
	[IsActive] [bit] NOT NULL,
	[CreatedAt] [datetime2](0) NOT NULL,
	[UpdatedAt] [datetime2](0) NULL,
 CONSTRAINT [PK_Users] PRIMARY KEY CLUSTERED 
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[WorkerLocations]    Script Date: 9/26/2026 6:14:52 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[WorkerLocations](
	[LocationId] [bigint] IDENTITY(1,1) NOT NULL,
	[WorkerId] [int] NOT NULL,
	[Latitude] [decimal](10, 7) NOT NULL,
	[Longitude] [decimal](10, 7) NOT NULL,
	[UpdatedAt] [datetime2](0) NOT NULL,
 CONSTRAINT [PK_WorkerLocations] PRIMARY KEY CLUSTERED 
(
	[LocationId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[WorkerProfiles]    Script Date: 9/26/2026 6:14:52 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[WorkerProfiles](
	[WorkerId] [int] NOT NULL,
	[Bio] [nvarchar](1000) NULL,
	[ExperienceYears] [int] NOT NULL,
	[IsOnline] [bit] NOT NULL,
	[IsAvailable] [bit] NOT NULL,
	[AverageRating] [decimal](3, 2) NOT NULL,
	[TotalJobs] [int] NOT NULL,
	[IsVerified] [bit] NOT NULL,
 CONSTRAINT [PK_WorkerProfiles] PRIMARY KEY CLUSTERED 
(
	[WorkerId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[WorkerServices]    Script Date: 9/26/2026 6:14:52 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[WorkerServices](
	[WorkerId] [int] NOT NULL,
	[ServiceId] [int] NOT NULL,
	[CreatedAt] [datetime2](0) NOT NULL,
 CONSTRAINT [PK_WorkerServices] PRIMARY KEY CLUSTERED 
(
	[WorkerId] ASC,
	[ServiceId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[CustomerProfiles] ([CustomerId], [Address], [DateOfBirth], [Gender]) VALUES (1, N'Địa chỉ mẫu', NULL, N'MALE')
INSERT [dbo].[CustomerProfiles] ([CustomerId], [Address], [DateOfBirth], [Gender]) VALUES (4, NULL, NULL, NULL)
INSERT [dbo].[CustomerProfiles] ([CustomerId], [Address], [DateOfBirth], [Gender]) VALUES (6, NULL, NULL, NULL)
GO
SET IDENTITY_INSERT [dbo].[Notifications] ON 

INSERT [dbo].[Notifications] ([NotificationId], [UserId], [RequestId], [Title], [Message], [Type], [IsRead], [CreatedAt]) VALUES (1, 4, 8, N'Thợ đã nhận yêu cầu', N'Thợ Tran Van Worker đã nhận yêu cầu sửa chữa của bạn.', N'REQUEST_ACCEPTED', 1, CAST(N'2026-09-21T20:14:09.0000000' AS DateTime2))
INSERT [dbo].[Notifications] ([NotificationId], [UserId], [RequestId], [Title], [Message], [Type], [IsRead], [CreatedAt]) VALUES (2, 5, 8, N'Khách hàng đã hủy yêu cầu', N'Khách hàng đã hủy yêu cầu sửa chữa.', N'REQUEST_CANCELLED', 1, CAST(N'2026-09-21T20:20:04.0000000' AS DateTime2))
INSERT [dbo].[Notifications] ([NotificationId], [UserId], [RequestId], [Title], [Message], [Type], [IsRead], [CreatedAt]) VALUES (3, 4, 9, N'Thợ đã nhận yêu cầu', N'Thợ Tran Van Worker đã nhận yêu cầu sửa chữa của bạn.', N'REQUEST_ACCEPTED', 1, CAST(N'2026-09-23T07:47:51.0000000' AS DateTime2))
SET IDENTITY_INSERT [dbo].[Notifications] OFF
GO
SET IDENTITY_INSERT [dbo].[Ratings] ON 

INSERT [dbo].[Ratings] ([RatingId], [RequestId], [CustomerId], [WorkerId], [Score], [Comment], [CreatedAt]) VALUES (1, 7, 4, 5, 5, N'Thợ đến nhanh, sửa chữa tốt và nhiệt tình.', CAST(N'2026-09-21T19:16:17.0000000' AS DateTime2))
INSERT [dbo].[Ratings] ([RatingId], [RequestId], [CustomerId], [WorkerId], [Score], [Comment], [CreatedAt]) VALUES (2, 19, 4, 5, 5, NULL, CAST(N'2026-09-25T00:10:12.0000000' AS DateTime2))
INSERT [dbo].[Ratings] ([RatingId], [RequestId], [CustomerId], [WorkerId], [Score], [Comment], [CreatedAt]) VALUES (3, 23, 4, 5, 5, N'GOOD', CAST(N'2026-09-25T17:05:24.0000000' AS DateTime2))
SET IDENTITY_INSERT [dbo].[Ratings] OFF
GO
SET IDENTITY_INSERT [dbo].[RequestStatusHistories] ON 

INSERT [dbo].[RequestStatusHistories] ([HistoryId], [RequestId], [Status], [Note], [ChangedBy], [CreatedAt]) VALUES (1, 1, N'SEARCHING', N'Khách hàng đã tạo yêu cầu. Hệ thống bắt đầu tìm thợ.', 4, CAST(N'2026-09-21T13:34:57.0000000' AS DateTime2))
INSERT [dbo].[RequestStatusHistories] ([HistoryId], [RequestId], [Status], [Note], [ChangedBy], [CreatedAt]) VALUES (2, 1, N'CANCELLED', N'Khách hàng hủy yêu cầu.', 4, CAST(N'2026-09-21T13:37:49.0000000' AS DateTime2))
INSERT [dbo].[RequestStatusHistories] ([HistoryId], [RequestId], [Status], [Note], [ChangedBy], [CreatedAt]) VALUES (3, 2, N'SEARCHING', N'Khách hàng đã tạo yêu cầu. Hệ thống bắt đầu tìm thợ.', 4, CAST(N'2026-09-21T14:46:53.0000000' AS DateTime2))
SET IDENTITY_INSERT [dbo].[RequestStatusHistories] OFF
GO
SET IDENTITY_INSERT [dbo].[ServiceRequests] ON 

INSERT [dbo].[ServiceRequests] ([RequestId], [CustomerId], [WorkerId], [ServiceId], [Description], [Status], [Latitude], [Longitude], [Address], [ScheduledAt], [CreatedAt], [AcceptedAt], [CompletedAt], [CancelledAt], [CancellationReason]) VALUES (1, 4, NULL, 1, N'Ổ điện trong phòng khách bị chập, không có điện.', N'CANCELLED', CAST(10.7626220 AS Decimal(10, 7)), CAST(106.6601720 AS Decimal(10, 7)), N'123 Đường Nguyễn Trãi, Quận 1, TP.HCM', NULL, CAST(N'2026-09-21T13:34:57.0000000' AS DateTime2), NULL, NULL, CAST(N'2026-09-21T13:37:49.0000000' AS DateTime2), N'Khách hàng hủy yêu cầu.')
INSERT [dbo].[ServiceRequests] ([RequestId], [CustomerId], [WorkerId], [ServiceId], [Description], [Status], [Latitude], [Longitude], [Address], [ScheduledAt], [CreatedAt], [AcceptedAt], [CompletedAt], [CancelledAt], [CancellationReason]) VALUES (3, 4, NULL, 2, N'Ống nước bị rò rỉ.', N'SEARCHING', CAST(10.7626220 AS Decimal(10, 7)), CAST(106.6601720 AS Decimal(10, 7)), N'123 Nguyễn Trãi, Quận 1, TP.HCM', NULL, CAST(N'2026-09-21T14:53:33.0000000' AS DateTime2), NULL, NULL, NULL, NULL)
SET IDENTITY_INSERT [dbo].[ServiceRequests] OFF
GO
SET IDENTITY_INSERT [dbo].[Services] ON 

INSERT [dbo].[Services] ([ServiceId], [ServiceName], [Description], [IconUrl], [IsActive], [CreatedAt]) VALUES (1, N'Sửa điện', N'Sửa chữa các sự cố về điện dân dụng.', NULL, 1, CAST(N'2026-09-21T11:02:30.0000000' AS DateTime2))
INSERT [dbo].[Services] ([ServiceId], [ServiceName], [Description], [IconUrl], [IsActive], [CreatedAt]) VALUES (2, N'Sửa nước', N'Sửa chữa đường ống, vòi nước và hệ thống cấp thoát nước.', NULL, 1, CAST(N'2026-09-21T11:02:30.0000000' AS DateTime2))
INSERT [dbo].[Services] ([ServiceId], [ServiceName], [Description], [IconUrl], [IsActive], [CreatedAt]) VALUES (3, N'Sửa điều hòa', N'Kiểm tra, vệ sinh và sửa chữa điều hòa.', NULL, 1, CAST(N'2026-09-21T11:02:30.0000000' AS DateTime2))
SET IDENTITY_INSERT [dbo].[Services] OFF
GO
SET IDENTITY_INSERT [dbo].[Users] ON 

INSERT [dbo].[Users] ([UserId], [FullName], [Email], [Phone], [PasswordHash], [Role], [AvatarUrl], [IsActive], [CreatedAt], [UpdatedAt]) VALUES (1, N'Khách hàng mẫu', N'customer@demo.local', N'0900000001', N'PLACEHOLDER_HASH', N'CUSTOMER', NULL, 1, CAST(N'2026-09-21T11:02:30.0000000' AS DateTime2), NULL)
INSERT [dbo].[Users] ([UserId], [FullName], [Email], [Phone], [PasswordHash], [Role], [AvatarUrl], [IsActive], [CreatedAt], [UpdatedAt]) VALUES (2, N'Thợ điện mẫu', N'worker@demo.local', N'0900000002', N'PLACEHOLDER_HASH', N'WORKER', NULL, 1, CAST(N'2026-09-21T11:02:30.0000000' AS DateTime2), NULL)
INSERT [dbo].[Users] ([UserId], [FullName], [Email], [Phone], [PasswordHash], [Role], [AvatarUrl], [IsActive], [CreatedAt], [UpdatedAt]) VALUES (3, N'Quản trị viên', N'admin@demo.local', N'0900000003', N'AQAAAAIAAYagAAAAEBMDIJUTxVvacCsVV0NBB3DrMbn+fjRS43w6OjXZLTwpCDELH9lWKLYehRCn6Kh/dA==', N'ADMIN', NULL, 1, CAST(N'2026-09-21T11:02:30.0000000' AS DateTime2), NULL)
SET IDENTITY_INSERT [dbo].[Users] OFF
GO
SET IDENTITY_INSERT [dbo].[WorkerLocations] ON 

INSERT [dbo].[WorkerLocations] ([LocationId], [WorkerId], [Latitude], [Longitude], [UpdatedAt]) VALUES (1, 5, CAST(10.7726217 AS Decimal(10, 7)), CAST(106.6601717 AS Decimal(10, 7)), CAST(N'2026-09-25T17:11:47.0000000' AS DateTime2))
INSERT [dbo].[WorkerLocations] ([LocationId], [WorkerId], [Latitude], [Longitude], [UpdatedAt]) VALUES (2, 7, CAST(10.7726217 AS Decimal(10, 7)), CAST(106.6601717 AS Decimal(10, 7)), CAST(N'2026-09-25T12:40:08.0000000' AS DateTime2))
SET IDENTITY_INSERT [dbo].[WorkerLocations] OFF
GO
INSERT [dbo].[WorkerProfiles] ([WorkerId], [Bio], [ExperienceYears], [IsOnline], [IsAvailable], [AverageRating], [TotalJobs], [IsVerified]) VALUES (2, N'Thợ sửa chữa dân dụng mẫu', 3, 1, 1, CAST(4.80 AS Decimal(3, 2)), 25, 1)
INSERT [dbo].[WorkerProfiles] ([WorkerId], [Bio], [ExperienceYears], [IsOnline], [IsAvailable], [AverageRating], [TotalJobs], [IsVerified]) VALUES (5, NULL, 3, 1, 1, CAST(5.00 AS Decimal(3, 2)), 12, 0)
INSERT [dbo].[WorkerProfiles] ([WorkerId], [Bio], [ExperienceYears], [IsOnline], [IsAvailable], [AverageRating], [TotalJobs], [IsVerified]) VALUES (7, NULL, 5, 1, 1, CAST(0.00 AS Decimal(3, 2)), 0, 0)
GO
INSERT [dbo].[WorkerServices] ([WorkerId], [ServiceId], [CreatedAt]) VALUES (2, 1, CAST(N'2026-09-21T11:02:30.0000000' AS DateTime2))
INSERT [dbo].[WorkerServices] ([WorkerId], [ServiceId], [CreatedAt]) VALUES (5, 1, CAST(N'2026-09-25T17:09:00.0000000' AS DateTime2))
INSERT [dbo].[WorkerServices] ([WorkerId], [ServiceId], [CreatedAt]) VALUES (5, 3, CAST(N'2026-09-25T17:09:00.0000000' AS DateTime2))
GO
/****** Object:  Index [IX_Notifications_User_IsRead_CreatedAt]    Script Date: 9/26/2026 6:14:52 AM ******/
CREATE NONCLUSTERED INDEX [IX_Notifications_User_IsRead_CreatedAt] ON [dbo].[Notifications]
(
	[UserId] ASC,
	[IsRead] ASC,
	[CreatedAt] DESC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [UQ_Ratings_Request]    Script Date: 9/26/2026 6:14:52 AM ******/
ALTER TABLE [dbo].[Ratings] ADD  CONSTRAINT [UQ_Ratings_Request] UNIQUE NONCLUSTERED 
(
	[RequestId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ_RefreshTokens_Token]    Script Date: 9/26/2026 6:14:52 AM ******/
ALTER TABLE [dbo].[RefreshTokens] ADD  CONSTRAINT [UQ_RefreshTokens_Token] UNIQUE NONCLUSTERED 
(
	[Token] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_RefreshTokens_User]    Script Date: 9/26/2026 6:14:52 AM ******/
CREATE NONCLUSTERED INDEX [IX_RefreshTokens_User] ON [dbo].[RefreshTokens]
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_RequestStatusHistories_Request_CreatedAt]    Script Date: 9/26/2026 6:14:52 AM ******/
CREATE NONCLUSTERED INDEX [IX_RequestStatusHistories_Request_CreatedAt] ON [dbo].[RequestStatusHistories]
(
	[RequestId] ASC,
	[CreatedAt] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_ServiceRequests_Customer_CreatedAt]    Script Date: 9/26/2026 6:14:52 AM ******/
CREATE NONCLUSTERED INDEX [IX_ServiceRequests_Customer_CreatedAt] ON [dbo].[ServiceRequests]
(
	[CustomerId] ASC,
	[CreatedAt] DESC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_ServiceRequests_Service_Status]    Script Date: 9/26/2026 6:14:52 AM ******/
CREATE NONCLUSTERED INDEX [IX_ServiceRequests_Service_Status] ON [dbo].[ServiceRequests]
(
	[ServiceId] ASC,
	[Status] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_ServiceRequests_Worker_Status]    Script Date: 9/26/2026 6:14:52 AM ******/
CREATE NONCLUSTERED INDEX [IX_ServiceRequests_Worker_Status] ON [dbo].[ServiceRequests]
(
	[WorkerId] ASC,
	[Status] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ_Services_ServiceName]    Script Date: 9/26/2026 6:14:52 AM ******/
ALTER TABLE [dbo].[Services] ADD  CONSTRAINT [UQ_Services_ServiceName] UNIQUE NONCLUSTERED 
(
	[ServiceName] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ_Users_Email]    Script Date: 9/26/2026 6:14:52 AM ******/
ALTER TABLE [dbo].[Users] ADD  CONSTRAINT [UQ_Users_Email] UNIQUE NONCLUSTERED 
(
	[Email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ_Users_Phone]    Script Date: 9/26/2026 6:14:52 AM ******/
ALTER TABLE [dbo].[Users] ADD  CONSTRAINT [UQ_Users_Phone] UNIQUE NONCLUSTERED 
(
	[Phone] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_Users_Role_IsActive]    Script Date: 9/26/2026 6:14:52 AM ******/
CREATE NONCLUSTERED INDEX [IX_Users_Role_IsActive] ON [dbo].[Users]
(
	[Role] ASC,
	[IsActive] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [UQ_WorkerLocations_Worker]    Script Date: 9/26/2026 6:14:52 AM ******/
ALTER TABLE [dbo].[WorkerLocations] ADD  CONSTRAINT [UQ_WorkerLocations_Worker] UNIQUE NONCLUSTERED 
(
	[WorkerId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_WorkerProfiles_Online_Available]    Script Date: 9/26/2026 6:14:52 AM ******/
CREATE NONCLUSTERED INDEX [IX_WorkerProfiles_Online_Available] ON [dbo].[WorkerProfiles]
(
	[IsOnline] ASC,
	[IsAvailable] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_WorkerServices_Service_Worker]    Script Date: 9/26/2026 6:14:52 AM ******/
CREATE NONCLUSTERED INDEX [IX_WorkerServices_Service_Worker] ON [dbo].[WorkerServices]
(
	[ServiceId] ASC,
	[WorkerId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Notifications] ADD  CONSTRAINT [DF_Notifications_IsRead]  DEFAULT ((0)) FOR [IsRead]
GO
ALTER TABLE [dbo].[Notifications] ADD  CONSTRAINT [DF_Notifications_CreatedAt]  DEFAULT (sysutcdatetime()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[Ratings] ADD  CONSTRAINT [DF_Ratings_CreatedAt]  DEFAULT (sysutcdatetime()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[RefreshTokens] ADD  CONSTRAINT [DF_RefreshTokens_CreatedAt]  DEFAULT (sysutcdatetime()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[RequestImages] ADD  CONSTRAINT [DF_RequestImages_CreatedAt]  DEFAULT (sysutcdatetime()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[RequestStatusHistories] ADD  CONSTRAINT [DF_RequestStatusHistories_CreatedAt]  DEFAULT (sysutcdatetime()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[ServiceRequests] ADD  CONSTRAINT [DF_ServiceRequests_Status]  DEFAULT ('PENDING') FOR [Status]
GO
ALTER TABLE [dbo].[ServiceRequests] ADD  CONSTRAINT [DF_ServiceRequests_CreatedAt]  DEFAULT (sysutcdatetime()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[Services] ADD  CONSTRAINT [DF_Services_IsActive]  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[Services] ADD  CONSTRAINT [DF_Services_CreatedAt]  DEFAULT (sysutcdatetime()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[Users] ADD  CONSTRAINT [DF_Users_IsActive]  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[Users] ADD  CONSTRAINT [DF_Users_CreatedAt]  DEFAULT (sysutcdatetime()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[WorkerLocations] ADD  CONSTRAINT [DF_WorkerLocations_UpdatedAt]  DEFAULT (sysutcdatetime()) FOR [UpdatedAt]
GO
ALTER TABLE [dbo].[WorkerProfiles] ADD  CONSTRAINT [DF_WorkerProfiles_ExperienceYears]  DEFAULT ((0)) FOR [ExperienceYears]
GO
ALTER TABLE [dbo].[WorkerProfiles] ADD  CONSTRAINT [DF_WorkerProfiles_IsOnline]  DEFAULT ((0)) FOR [IsOnline]
GO
ALTER TABLE [dbo].[WorkerProfiles] ADD  CONSTRAINT [DF_WorkerProfiles_IsAvailable]  DEFAULT ((1)) FOR [IsAvailable]
GO
ALTER TABLE [dbo].[WorkerProfiles] ADD  CONSTRAINT [DF_WorkerProfiles_AverageRating]  DEFAULT ((0.00)) FOR [AverageRating]
GO
ALTER TABLE [dbo].[WorkerProfiles] ADD  CONSTRAINT [DF_WorkerProfiles_TotalJobs]  DEFAULT ((0)) FOR [TotalJobs]
GO
ALTER TABLE [dbo].[WorkerProfiles] ADD  CONSTRAINT [DF_WorkerProfiles_IsVerified]  DEFAULT ((0)) FOR [IsVerified]
GO
ALTER TABLE [dbo].[WorkerServices] ADD  CONSTRAINT [DF_WorkerServices_CreatedAt]  DEFAULT (sysutcdatetime()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[CustomerProfiles]  WITH CHECK ADD  CONSTRAINT [FK_CustomerProfiles_Users] FOREIGN KEY([CustomerId])
REFERENCES [dbo].[Users] ([UserId])
GO
ALTER TABLE [dbo].[CustomerProfiles] CHECK CONSTRAINT [FK_CustomerProfiles_Users]
GO
ALTER TABLE [dbo].[Notifications]  WITH CHECK ADD  CONSTRAINT [FK_Notifications_Request] FOREIGN KEY([RequestId])
REFERENCES [dbo].[ServiceRequests] ([RequestId])
GO
ALTER TABLE [dbo].[Notifications] CHECK CONSTRAINT [FK_Notifications_Request]
GO
ALTER TABLE [dbo].[Notifications]  WITH CHECK ADD  CONSTRAINT [FK_Notifications_User] FOREIGN KEY([UserId])
REFERENCES [dbo].[Users] ([UserId])
GO
ALTER TABLE [dbo].[Notifications] CHECK CONSTRAINT [FK_Notifications_User]
GO
ALTER TABLE [dbo].[Ratings]  WITH CHECK ADD  CONSTRAINT [FK_Ratings_Customer] FOREIGN KEY([CustomerId])
REFERENCES [dbo].[CustomerProfiles] ([CustomerId])
GO
ALTER TABLE [dbo].[Ratings] CHECK CONSTRAINT [FK_Ratings_Customer]
GO
ALTER TABLE [dbo].[Ratings]  WITH CHECK ADD  CONSTRAINT [FK_Ratings_Request] FOREIGN KEY([RequestId])
REFERENCES [dbo].[ServiceRequests] ([RequestId])
GO
ALTER TABLE [dbo].[Ratings] CHECK CONSTRAINT [FK_Ratings_Request]
GO
ALTER TABLE [dbo].[Ratings]  WITH CHECK ADD  CONSTRAINT [FK_Ratings_Worker] FOREIGN KEY([WorkerId])
REFERENCES [dbo].[WorkerProfiles] ([WorkerId])
GO
ALTER TABLE [dbo].[Ratings] CHECK CONSTRAINT [FK_Ratings_Worker]
GO
ALTER TABLE [dbo].[RefreshTokens]  WITH CHECK ADD  CONSTRAINT [FK_RefreshTokens_User] FOREIGN KEY([UserId])
REFERENCES [dbo].[Users] ([UserId])
GO
ALTER TABLE [dbo].[RefreshTokens] CHECK CONSTRAINT [FK_RefreshTokens_User]
GO
ALTER TABLE [dbo].[RequestImages]  WITH CHECK ADD  CONSTRAINT [FK_RequestImages_ServiceRequests] FOREIGN KEY([RequestId])
REFERENCES [dbo].[ServiceRequests] ([RequestId])
GO
ALTER TABLE [dbo].[RequestImages] CHECK CONSTRAINT [FK_RequestImages_ServiceRequests]
GO
ALTER TABLE [dbo].[RequestStatusHistories]  WITH CHECK ADD  CONSTRAINT [FK_RequestStatusHistories_Request] FOREIGN KEY([RequestId])
REFERENCES [dbo].[ServiceRequests] ([RequestId])
GO
ALTER TABLE [dbo].[RequestStatusHistories] CHECK CONSTRAINT [FK_RequestStatusHistories_Request]
GO
ALTER TABLE [dbo].[RequestStatusHistories]  WITH CHECK ADD  CONSTRAINT [FK_RequestStatusHistories_User] FOREIGN KEY([ChangedBy])
REFERENCES [dbo].[Users] ([UserId])
GO
ALTER TABLE [dbo].[RequestStatusHistories] CHECK CONSTRAINT [FK_RequestStatusHistories_User]
GO
ALTER TABLE [dbo].[ServiceRequests]  WITH CHECK ADD  CONSTRAINT [FK_ServiceRequests_Customer] FOREIGN KEY([CustomerId])
REFERENCES [dbo].[CustomerProfiles] ([CustomerId])
GO
ALTER TABLE [dbo].[ServiceRequests] CHECK CONSTRAINT [FK_ServiceRequests_Customer]
GO
ALTER TABLE [dbo].[ServiceRequests]  WITH CHECK ADD  CONSTRAINT [FK_ServiceRequests_Service] FOREIGN KEY([ServiceId])
REFERENCES [dbo].[Services] ([ServiceId])
GO
ALTER TABLE [dbo].[ServiceRequests] CHECK CONSTRAINT [FK_ServiceRequests_Service]
GO
ALTER TABLE [dbo].[ServiceRequests]  WITH CHECK ADD  CONSTRAINT [FK_ServiceRequests_Worker] FOREIGN KEY([WorkerId])
REFERENCES [dbo].[WorkerProfiles] ([WorkerId])
GO
ALTER TABLE [dbo].[ServiceRequests] CHECK CONSTRAINT [FK_ServiceRequests_Worker]
GO
ALTER TABLE [dbo].[WorkerLocations]  WITH CHECK ADD  CONSTRAINT [FK_WorkerLocations_Worker] FOREIGN KEY([WorkerId])
REFERENCES [dbo].[WorkerProfiles] ([WorkerId])
GO
ALTER TABLE [dbo].[WorkerLocations] CHECK CONSTRAINT [FK_WorkerLocations_Worker]
GO
ALTER TABLE [dbo].[WorkerProfiles]  WITH CHECK ADD  CONSTRAINT [FK_WorkerProfiles_Users] FOREIGN KEY([WorkerId])
REFERENCES [dbo].[Users] ([UserId])
GO
ALTER TABLE [dbo].[WorkerProfiles] CHECK CONSTRAINT [FK_WorkerProfiles_Users]
GO
ALTER TABLE [dbo].[WorkerServices]  WITH CHECK ADD  CONSTRAINT [FK_WorkerServices_Service] FOREIGN KEY([ServiceId])
REFERENCES [dbo].[Services] ([ServiceId])
GO
ALTER TABLE [dbo].[WorkerServices] CHECK CONSTRAINT [FK_WorkerServices_Service]
GO
ALTER TABLE [dbo].[WorkerServices]  WITH CHECK ADD  CONSTRAINT [FK_WorkerServices_Worker] FOREIGN KEY([WorkerId])
REFERENCES [dbo].[WorkerProfiles] ([WorkerId])
GO
ALTER TABLE [dbo].[WorkerServices] CHECK CONSTRAINT [FK_WorkerServices_Worker]
GO
ALTER TABLE [dbo].[CustomerProfiles]  WITH CHECK ADD  CONSTRAINT [CK_CustomerProfiles_Gender] CHECK  (([Gender] IS NULL OR ([Gender]='OTHER' OR [Gender]='FEMALE' OR [Gender]='MALE')))
GO
ALTER TABLE [dbo].[CustomerProfiles] CHECK CONSTRAINT [CK_CustomerProfiles_Gender]
GO
ALTER TABLE [dbo].[Ratings]  WITH CHECK ADD  CONSTRAINT [CK_Ratings_Score] CHECK  (([Score]>=(1) AND [Score]<=(5)))
GO
ALTER TABLE [dbo].[Ratings] CHECK CONSTRAINT [CK_Ratings_Score]
GO
ALTER TABLE [dbo].[RequestStatusHistories]  WITH CHECK ADD  CONSTRAINT [CK_RequestStatusHistories_Status] CHECK  (([Status]='NO_WORKER_FOUND' OR [Status]='CANCELLED' OR [Status]='COMPLETED' OR [Status]='IN_PROGRESS' OR [Status]='ARRIVED' OR [Status]='ON_THE_WAY' OR [Status]='ACCEPTED' OR [Status]='SEARCHING' OR [Status]='PENDING'))
GO
ALTER TABLE [dbo].[RequestStatusHistories] CHECK CONSTRAINT [CK_RequestStatusHistories_Status]
GO
ALTER TABLE [dbo].[ServiceRequests]  WITH CHECK ADD  CONSTRAINT [CK_ServiceRequests_CancelledReason] CHECK  (([Status]='CANCELLED' AND [CancelledAt] IS NOT NULL OR [Status]<>'CANCELLED'))
GO
ALTER TABLE [dbo].[ServiceRequests] CHECK CONSTRAINT [CK_ServiceRequests_CancelledReason]
GO
ALTER TABLE [dbo].[ServiceRequests]  WITH CHECK ADD  CONSTRAINT [CK_ServiceRequests_Latitude] CHECK  (([Latitude]>=(-90) AND [Latitude]<=(90)))
GO
ALTER TABLE [dbo].[ServiceRequests] CHECK CONSTRAINT [CK_ServiceRequests_Latitude]
GO
ALTER TABLE [dbo].[ServiceRequests]  WITH CHECK ADD  CONSTRAINT [CK_ServiceRequests_Longitude] CHECK  (([Longitude]>=(-180) AND [Longitude]<=(180)))
GO
ALTER TABLE [dbo].[ServiceRequests] CHECK CONSTRAINT [CK_ServiceRequests_Longitude]
GO
ALTER TABLE [dbo].[ServiceRequests]  WITH CHECK ADD  CONSTRAINT [CK_ServiceRequests_Status] CHECK  (([Status]='NO_WORKER_FOUND' OR [Status]='CANCELLED' OR [Status]='COMPLETED' OR [Status]='IN_PROGRESS' OR [Status]='ARRIVED' OR [Status]='ON_THE_WAY' OR [Status]='ACCEPTED' OR [Status]='SEARCHING' OR [Status]='PENDING'))
GO
ALTER TABLE [dbo].[ServiceRequests] CHECK CONSTRAINT [CK_ServiceRequests_Status]
GO
ALTER TABLE [dbo].[Users]  WITH CHECK ADD  CONSTRAINT [CK_Users_Role] CHECK  (([Role]='ADMIN' OR [Role]='WORKER' OR [Role]='CUSTOMER'))
GO
ALTER TABLE [dbo].[Users] CHECK CONSTRAINT [CK_Users_Role]
GO
ALTER TABLE [dbo].[WorkerLocations]  WITH CHECK ADD  CONSTRAINT [CK_WorkerLocations_Latitude] CHECK  (([Latitude]>=(-90) AND [Latitude]<=(90)))
GO
ALTER TABLE [dbo].[WorkerLocations] CHECK CONSTRAINT [CK_WorkerLocations_Latitude]
GO
ALTER TABLE [dbo].[WorkerLocations]  WITH CHECK ADD  CONSTRAINT [CK_WorkerLocations_Longitude] CHECK  (([Longitude]>=(-180) AND [Longitude]<=(180)))
GO
ALTER TABLE [dbo].[WorkerLocations] CHECK CONSTRAINT [CK_WorkerLocations_Longitude]
GO
ALTER TABLE [dbo].[WorkerProfiles]  WITH CHECK ADD  CONSTRAINT [CK_WorkerProfiles_AverageRating] CHECK  (([AverageRating]>=(0) AND [AverageRating]<=(5)))
GO
ALTER TABLE [dbo].[WorkerProfiles] CHECK CONSTRAINT [CK_WorkerProfiles_AverageRating]
GO
ALTER TABLE [dbo].[WorkerProfiles]  WITH CHECK ADD  CONSTRAINT [CK_WorkerProfiles_ExperienceYears] CHECK  (([ExperienceYears]>=(0)))
GO
ALTER TABLE [dbo].[WorkerProfiles] CHECK CONSTRAINT [CK_WorkerProfiles_ExperienceYears]
GO
ALTER TABLE [dbo].[WorkerProfiles]  WITH CHECK ADD  CONSTRAINT [CK_WorkerProfiles_TotalJobs] CHECK  (([TotalJobs]>=(0)))
GO
ALTER TABLE [dbo].[WorkerProfiles] CHECK CONSTRAINT [CK_WorkerProfiles_TotalJobs]
GO
USE [master]
GO
